.portfolio-about {
  max-width: 900px;
  visibility: visible;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 2vw, var(--fz-heading));
  white-space: nowrap;
}

.portfolio-about .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.portfolio-about p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}

.portfolio-about-body ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.portfolio-about-body ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.portfolio-about-body ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.portfolio-about-body p {
  margin: 0px 0px 15px;
}
