.right-sidebar {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}

@media (max-width: 1080px) {
  .right-sidebar {
    left: auto;
    right: 20px;
  }
}

.right-sidebar-email {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.right-sidebar-email a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.right-sidebar-email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.right-sidebar-email a:hover,
.right-sidebar-email a:focus {
  transform: translateY(-3px);
  color: var(--green);
}
